* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logo {
  height: 20vh;
  padding-top: 2vh;
  padding-left: 3vw;
  cursor: pointer;
}

body {
  background-color: black;
}

h2 {
  font-size: 2.5vw;
  text-align: center;
  letter-spacing: 0.3vw;
  padding-bottom: 4vh;
  color: white;
  font-family: "Helvetica Neue ME";
}

.box-img {
  display: flex;
  align-items: center;
  height: 20vh;
  cursor: pointer;
}

.box-img:hover {
  border: solid;
  color: white;
}

p {
  text-align: center;
  font-size: 1.8vw;
  padding-top: 1.5vh;
  color: white;
  font-family: "Helvetica Neue ME";
}

.perfil-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
