* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url(//db.onlinewebfonts.com/c/95cecf452d3208890088a5b4c19c7ecf?family=Helvetica + Neue + ME);
@font-face {
  font-family: "Helvetica Neue ME";
  src: url("//db.onlinewebfonts.com/t/95cecf452d3208890088a5b4c19c7ecf.eot");
  src: url("//db.onlinewebfonts.com/t/95cecf452d3208890088a5b4c19c7ecf.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/95cecf452d3208890088a5b4c19c7ecf.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/95cecf452d3208890088a5b4c19c7ecf.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/95cecf452d3208890088a5b4c19c7ecf.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/95cecf452d3208890088a5b4c19c7ecf.svg#Helvetica Neue ME")
      format("svg");
}

@media (max-width: 750px) {
  .container-logo {
    display: flex;
    justify-content: center;
  }

  .logo {
    width: 25vw;
  }
}

.logo {
  height: 20vh;
  padding-top: 2vh;
  padding-left: 3vw;
  cursor: pointer;
}

body {
  background-color: black;
}

.subtext {
  font-size: 1.5vw;
  text-align: center;
  letter-spacing: 0.3vw;
  padding-bottom: 4vh;
  color: white;
  font-family: "Helvetica Neue ME";
}

.box-img {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 20vh;
  margin-left: 2vw;
  cursor: pointer;
}

.box-img:hover {
  border: solid;
  color: white;
}

p {
  text-align: center;
  font-size: 1.8vw;
  padding-top: 1.5vh;
  color: white;
  font-family: "Helvetica Neue ME";
  cursor: pointer;
}

@media (max-width: 750px) {
  .perfil-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.perfil-container {
  display: inline-block;
  border: solid;
  margin-left: 6vw;
}

.box-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
}

button {
  width: 20vw;
  height: 8vh;
  font-size: 1.5vw;
  text-transform: uppercase;
  text-align: center;
  border: solid;
  color: white;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.5;
}

button:hover {
  color: white;
  opacity: 2;
}
